@media (max-width: 1024px) {
  .text-area {
    padding: 4rem 3rem 3rem 3rem;
  }
}
@media (max-width: 768px) {
  .image-area {
    .destop-img {
      display: block;
    }
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-area {
    padding: 1.2rem;

    .description {
      h1 {
        letter-spacing: 0.5rem;
      }
    }
  }
}
@media (max-width: 675px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  main {
    overflow: hidden;
  }
  .text-area {
    order: 2;
    padding: 4rem 3rem 2rem;
    height: 100%;
    width: 100%;
    .description {
      text-align: center;
      h1 {
        font-size: 3.5rem;
        letter-spacing: 0.95rem;
      }
      p {
        width: 100%;
        min-width: 150px;
        max-width: 1000px;
        line-height: 2.3rem;
        font-size: 14px;
        text-align: center;
      }
    }
    .destop-logo {
      display: none;
    }
    form {
      margin-top: 2.3rem;
      width: 100%;
      min-width: 100px;
      max-width: 3000px;
      input {
        height: 50px;
        width: 100%;
        width: 100%;
      }
      .email-btn {
        padding: 0.5rem 3rem;
        right: 0;
        top: 0;
        :hover {
          height: 50px;
          width: 60px;
        }
      }
    }
  }
  .image-area {
    .mobile-sec {
      display: block;
      .mobile-logo {
        width: 30%;
        margin: 1.5rem;
      }
      .mobile-img {
        background-image: url(/images/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 100%;
        min-height: 250px;
        max-height: 400px;
        width: 100vw;
      }
    }
    .destop-img {
      display: none;
    }
    order: 1;
  }
}
